<div>
   <div>
   <h2>Datación de equimosis</h2>
   </div>
   <div>
   <img src='assets/img/FotoEquimosisEjemplo.png'/>
   </div>
   <div>
   <label>Color de piel: </label>  Trigueño oscuro
   </div>
   <div>
   <label>Edad de la persona: </label>  15 a 29 años
   </div>
   <div>
   <label>Sexo: </label>  Femenino
   </div>
   <div>
   <label>Zona laxa: </label>  Sí
   </div>
   <div>
   <label>Vascularidad: </label>  Sí
   </div>
   <div>
   <label>Tejido óseo subyacente: </label>  No
   </div>
   <div>
   <label>Edad de la equimosis: </label>  6 a 12 días
   </div>
 </div>
